# Week 7 Assignment

_MkKinney 6.1_

This week has been all about getting information off the internet both in structured data formats (CSV, JSON, etc) as well as HTML.  For these exercises, we're going to use two practical examples of fetching data from web pages to show how to use Pandas and BeautifulSoup to extract structured information from the web.

---
---

### 33.1 Parsing a list in HTML

Go to the Banner Health Price Transparency Page: https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency

Notice that there is a list of hospitals and the city they are in.  We want to parse the underlying HTML to create a list of all the hospitals along with which city they're in.

```json
[
    ["Banner - University Medical Center Phoenix", "Arizona"],
    ["Banner - University Medical Center South ", "Arizona"],
    ...
]
```

To examine the underlying HTML code, you can use Chrome, right-click, and choose **Inspect**.

For reference, the documentation for BeautifulSoup is here: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In the cell below, create a function called **parse_banner(url)** that takes as it's one parameter the URL of the webpage to be parsed for links.  Make sure you include docstrings and a good test case using hte URL provided above.

In [9]:
from bs4 import BeautifulSoup
import requests

# Note that you'll need to fetch the data using the following syntax to include headers
url= 'https://www.bannerhealth.com/patients/billing/pricing-resource/hospital-price-transparency'

headers = { "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36" }

r = requests.get(url, headers=headers)

soup = BeautifulSoup(r.text,'html.parser')
#that make the web server think you are a real web browser.

In [10]:
r.status_code

404

In [27]:
def parse_banner(url):
    results =[]
    r = requests.get(url, headers=headers)
    soup = BeautifulSoup(r.text,'html.parser')
    div = soup.find_all('div', {"class":"col-md-8"})[0]
    for hospital_list in div.find_all("ul"):
        state = hospital_list.previous_sibling.previous_sibling.string
        for hospital in hospital_list.find_all('li'):
            print(hospital.text, state)
            results.append([hospital.text, state])
    return results

In [28]:
import doctest
doctest.run_docstring_examples(parse_banner, globals(), verbose=True)

Finding tests in NoName

In [29]:
banner = parse_banner('https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency')
assert len(banner)==38, 'Length of result should have been 38, but {} returned.'.format(len(banner))
assert banner[0][1]=='Arizona', 'Wrong data found in the first result item: {}'.format(banner[0])

Banner - University Medical Center Phoenix Arizona
Banner - University Medical Center South  Arizona
Banner - University Medical Center Tucson Arizona
Banner Baywood Medical Center  Arizona
Banner Behavioral Health Hospital Arizona
Banner Boswell Medical Center Arizona
Banner Casa Grande Medical Center Arizona
Banner Del E. Webb Medical Center Arizona
Banner Desert Medical Center/Cardon Children's Medical Center   Arizona
Banner Estrella Medical Center Arizona
Banner Gateway Medical Center/Banner MD Anderson Cancer Center Arizona
Banner Goldfield Medical Center   Arizona
Banner Heart Hospital Arizona
Banner Ironwood Medical Center Arizona
Banner Ocotillo Medical Center Arizona
Banner Payson Medical Center Arizona
Banner Rehabilitation Hospitals Arizona
Banner Thunderbird Medical Center Arizona
Page Hospital Arizona
Banner Lassen Medical Center California
Banner Fort Collins Medical Center Colorado
McKee Medical Center Colorado
North Colorado Medical Center Colorado
Sterling Regional Medical Center Colorado
East Morgan County Hospital Colorado
Ogallala Community Hospital Nebraska
Banner Churchill Community Hospital Nevada
Banner Wyoming Medical Center Central Campus Wyoming
Banner Wyoming Medical Center East Campus Wyoming
Community Hospital Wyoming
Washakie Medical Center Wyoming
Platte County Memorial Hospital Wyoming
Arizona State-Specific Regulations
California State-Specific Regulations
Colorado State-Specific Regulations
Nebraska State-Specific Regulations
Nevada State-Specific Regulations
Wyoming State-Specific Regulations

---

## 33.2 Using a REST API (from GitHub.com)

Many websites provide something called a REST API to access information from their site programatically, rather than relying on HTML.  One example is GitHub.com, whose API allows you do to things like "list all the public repositories for a user."

The documentation for GitHub.com's REST API can be found here: https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api

Create a function called **repo_summary(user)** that takes a GitHub.com user name as it's parameter and retrieves a list of all the repositories you can see for that user.  The specific documentation for the this kind of request can be found here: https://docs.github.com/en/rest/reference/repos#list-repositories-for-a-user. Make sure your function is well documented with a docstring and includes a simple test to verify that you get back 12 repositories when querying for the repositories for user **paulboal**.

I've provided a related example to help you out.

In [ ]:
# Example -- this example of code shows how to get basic information on the user paulboal
# For your solution, make sure you meet the requirements in the instructions above.

import requests

response = requests.get('https://api.github.com/users/paulboal')
data = response.json()

print('This information is about {}. His website is {}.'.format(data.get('login'), data.get('blog')))

In [ ]:
# Your code Here
def repo_summary(user):
    url = "https://api.github.com/users/{}".format(user)
    data = requests.get(url).json()
    repos = requests.get(data.get('repos_url')).json()
    repo_names = []
    for repo in repos:
        repo_names.append(repo.get('name'))
    return repo_names

In [ ]:
import doctest
doctest.run_docstring_examples(repo_summary, globals(), verbose=True)

In [ ]:
repos = repo_summary('paulboal')
assert len(repos)==12, 'Expecing 12, but {} were found'.format(len(repos))

---

### 33.3 Find Something of Your Own

Do some web searches and find an HTML page with some data that is interesting to something you're studying.  You can extract and parse that information using either BeautifulSoup or Pandas.  If you're using Pandas, then do something interesting to format and structure your data.  If you're using BeautifulSoup, you'll just need to do the work of parsing the data out of HTML -- that's hard enough!

You don't need to build this as a function.  Just use notebook cells as I've done above.  You will be graded based on _style_.  Use variable names that make sense for your problem / solution. Cleanup anything you don't need before you submit your work.

In [31]:
# Your code Here
import pandas as pd

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States')

In [32]:
len(tables)

20

In [34]:
tables[1]

   Flag, name andpostal abbreviation[13]  \
   Flag, name andpostal abbreviation[13]
0                                Alabama
1                                 Alaska
2                                Arizona
3                               Arkansas
4                             California
5                               Colorado
6                            Connecticut
7                               Delaware
8                                Florida
9                                Georgia
10                                Hawaii
11                                 Idaho
12                              Illinois
13                               Indiana
14                                  Iowa
15                                Kansas
16                           Kentucky[D]
17                             Louisiana
18                                 Maine
19                              Maryland
20                      Massachusetts[D]
21                              Michigan
22                             Minnesota
23                           Mississippi
24                              Missouri
25                               Montana
26                              Nebraska
27                                Nevada
28                         New Hampshire
29                            New Jersey
30                            New Mexico
31                              New York
32                        North Carolina
33                          North Dakota
34                                  Ohio
35                              Oklahoma
36                                Oregon
37                       Pennsylvania[D]
38                          Rhode Island
39                        South Carolina
40                          South Dakota
41                             Tennessee
42                                 Texas
43                                  Utah
44                               Vermont
45                           Virginia[D]
46                            Washington
47                         West Virginia
48                             Wisconsin
49                               Wyoming

                                                    Cities                  \
   Flag, name andpostal abbreviation[13].1         Capital     Largest[17]
0                                       AL      Montgomery      Huntsville
1                                       AK          Juneau       Anchorage
2                                       AZ         Phoenix         Phoenix
3                                       AR     Little Rock     Little Rock
4                                       CA      Sacramento     Los Angeles
5                                       CO          Denver          Denver
6                                       CT        Hartford      Bridgeport
7                                       DE           Dover      Wilmington
8                                       FL     Tallahassee    Jacksonville
9                                       GA         Atlanta         Atlanta
10                                      HI        Honolulu        Honolulu
11                                      ID           Boise           Boise
12                                      IL     Springfield         Chicago
13                                      IN    Indianapolis    Indianapolis
14                                      IA      Des Moines      Des Moines
15                                      KS          Topeka         Wichita
16                                      KY       Frankfort      Louisville
17                                      LA     Baton Rouge     New Orleans
18                                      ME         Augusta        Portland
19                                      MD       Annapolis       Baltimore
20                                      MA          Boston          Boston
21                                      MI         Lansing         Detroit
22                                      MN        St. Paul     Minneapolis
23                                      MS         Jackson         Jackson
24                                      MO  Jefferson City     Kansas City
25                                      MT          Helena        Billings
26                                      NE         Lincoln           Omaha
27                                      NV     Carson City       Las Vegas
28                                      NH         Concord      Manchester
29                                      NJ         Trenton          Newark
30                                      NM        Santa Fe     Albuquerque
31                                      NY          Albany   New York City
32                                      NC         Raleigh       Charlotte
33                                      ND        Bismarck           Fargo
34                                      OH        Columbus        Columbus
35                                      OK   Oklahoma City   Oklahoma City
36                                      OR           Salem        Portland
37                                      PA      Harrisburg    Philadelphia
38                                      RI      Providence      Providence
39                                      SC        Columbia      Charleston
40                                      SD          Pierre     Sioux Falls
41                                      TN       Nashville       Nashville
42                                      TX          Austin         Houston
43                                      UT  Salt Lake City  Salt Lake City
44                                      VT      Montpelier      Burlington
45                                      VA        Richmond  Virginia Beach
46                                      WA         Olympia         Seattle
47                                      WV      Charleston      Charleston
48                                      WI         Madison       Milwaukee
49                                      WY        Cheyenne        Cheyenne

   Ratification oradmission[C] Population[15] Total area[16]           \
   Ratification oradmission[C] Population[15]            mi2      km2
0                 Dec 14, 1819        5024279          52420   135767
1                  Jan 3, 1959         733391         665384  1723337
2                 Feb 14, 1912        7151502         113990   295234
3                 Jun 15, 1836        3011524          53179   137732
4                  Sep 9, 1850       39538223         163695   423967
5                  Aug 1, 1876        5773714         104094   269601
6                  Jan 9, 1788        3605944           5543    14357
7                  Dec 7, 1787         989948           2489     6446
8                  Mar 3, 1845       21538187          65758   170312
9                  Jan 2, 1788       10711908          59425   153910
10                Aug 21, 1959        1455271          10932    28313
11                 Jul 3, 1890        1839106          83569   216443
12                 Dec 3, 1818       12812508          57914   149995
13                Dec 11, 1816        6785528          36420    94326
14                Dec 28, 1846        3190369          56273   145746
15                Jan 29, 1861        2937880          82278   213100
16                 Jun 1, 1792        4505836          40408   104656
17                Apr 30, 1812        4657757          52378   135659
18                Mar 15, 1820        1362359          35380    91633
19                Apr 28, 1788        6177224          12406    32131
20                 Feb 6, 1788        7029917          10554    27336
21                Jan 26, 1837       10077331          96714   250487
22                May 11, 1858        5706494          86936   225163
23                Dec 10, 1817        2961279          48432   125438
24                Aug 10, 1821        6154913          69707   180540
25                 Nov 8, 1889        1084225         147040   380831
26                 Mar 1, 1867        1961504          77348   200330
27                Oct 31, 1864        3104614         110572   286380
28                Jun 21, 1788        1377529           9349    24214
29                Dec 18, 1787        9288994           8723    22591
30                 Jan 6, 1912        2117522         121590   314917
31                Jul 26, 1788       20201249          54555   141297
32                Nov 21, 1789       10439388          53819   139391
33                 Nov 2, 1889         779094          70698   183108
34                 Mar 1, 1803       11799448          44826   116098
35                Nov 16, 1907        3959353          69899   181037
36                Feb 14, 1859        4237256          98379   254799
37                Dec 12, 1787       13002700          46054   119280
38                May 29, 1790        1097379           1545     4001
39                May 23, 1788        5118425          32020    82933
40                 Nov 2, 1889         886667          77116   199729
41                 Jun 1, 1796        6910840          42144   109153
42                Dec 29, 1845       29145505         268596   695662
43                 Jan 4, 1896        3271616          84897   219882
44                 Mar 4, 1791         643077           9616    24906
45                Jun 25, 1788        8631393          42775   110787
46                Nov 11, 1889        7705281          71298   184661
47                Jun 20, 1863        1793716          24230    62756
48                May 29, 1848        5893718          65496   169635
49                Jul 10, 1890         576851          97813   253335

   Land area[16]          Water area[16]         Numberof Reps.
             mi2      km2            mi2     km2 Numberof Reps.
0          50645   131171           1775    4597              7
1         570641  1477953          94743  245384              1
2         113594   294207            396    1026              9
3          52035   134771           1143    2961              4
4         155779   403466           7916   20501             53
5         103642   268431            452    1170              7
6           4842    12542            701    1816              5
7           1949     5047            540    1399              1
8          53625   138887          12133   31424             27
9          57513   148959           1912    4951             14
10          6423    16635           4509   11678              2
11         82643   214045            926    2398              2
12         55519   143793           2395    6202             18
13         35826    92789            593    1537              9
14         55857   144669            416    1077              4
15         81759   211754            520    1346              4
16         39486   102269            921    2387              6
17         43204   111898           9174   23761              6
18         30843    79883           4537   11750              2
19          9707    25142           2699    6990              8
20          7800    20202           2754    7134              9
21         56539   146435          40175  104052             14
22         79627   206232           7309   18930              8
23         46923   121531           1508    3907              4
24         68742   178040            965    2501              8
25        145546   376962           1494    3869              1
26         76824   198974            524    1356              3
27        109781   284332            791    2048              4
28          8953    23187            397    1027              2
29          7354    19047           1368    3544             12
30        121298   314161            292     757              3
31         47126   122057           7429   19240             27
32         48618   125920           5201   13471             13
33         69001   178711           1698    4397              1
34         40861   105829           3965   10269             16
35         68595   177660           1304    3377              5
36         95988   248608           2391    6191              5
37         44743   115883           1312    3397             18
38          1034     2678            511    1324              2
39         30061    77857           1960    5076              7
40         75811   196350           1305    3379              1
41         41235   106798            909    2355              9
42        261232   676587           7365   19075             36
43         82170   212818           2727    7064              4
44          9217    23871            400    1035              1
45         39490   102279           3285    8508             11
46         66456   172119           4842   12542             10
47         24038    62259            192     497              3
48         54158   140268          11339   29367              8
49         97093   251470            720    1864              1

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Follow the instruction on the prompt below to either ssave and submit your work, or continue working.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

---

In [ ]:
a=input('''
Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

''')

if a=='yes':
    !git add week07_assignment_2.ipynb
    !git commit -a -m "Submitting the week 7 programming exercises"
    !git push
else:
    print('''
    
OK. We can wait.
''')